<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
    </head>
    <body>
{{> header}}        
        <h2>{{ScreamIt welcomeMsg}}</h2>
        {{> footer}}

    </body>
</html>